rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Data Pengguna (Profil, Playlists, Favorites, dan Riwayat per Akun)
    match /users/{userId} {
      allow read, write: if true;

      match /playlists/{playlistId} {
        allow read, write: if true;
      }
      match /favorites/{trackId} {
        allow read, write: if true;
      }
      match /history/{trackId} {
        allow read, write: if true;
      }
    }

    // Aturan untuk Komunitas Voting VanzMusic (Realtime)
    match /community_votes/{voteId} {
      allow read, write: if true;
    }

    // Aturan untuk Pesan Resmi Admin
    match /official_messages/{messageId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}
